<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!--调试阶段可以设置为true，正式发布要改为false-->
    <enableNettyLogging>true</enableNettyLogging>

    <redis>
        <host>jgate.qipai.io</host>
        <port>6379</port>
    </redis>

    <subscriber>
        <channel>jgate</channel>
    </subscriber>

    <publisher>
        <!--port->channel,表示将从port端口接收的包转发到channel通道中-->
        <channel>18666->debug,18800->test_1,28800->bh</channel>

        <!--调试端口使用客户端连接上之后发过来的channel，主要方便调试-->
        <debugPort>18666</debugPort>
    </publisher>

    <!--消息解析器-->
    <parser>
        <!--一个消息的最大长度，单位字节，默认5M-->
        <maxFrameLength>5242880</maxFrameLength>

        <!--消息长度的偏移量-->
        <lengthFieldOffset>0</lengthFieldOffset>

        <!--消息长度的长度-->
        <lengthFieldLength>4</lengthFieldLength>

        <!--消息长度的修正值，解析出来的长度加上这个修正值才是真实的长度，可正可负-->
        <lengthAdjustment>0</lengthAdjustment>

        <!--解析包时跳过的字节数，比如跳过4个字节的长度-->
        <initialBytesToStrip>4</initialBytesToStrip>
    </parser>

    <!--消息序列化-->
    <serializer>
        <!--收到业务服务端的消息后，转发给客户端时在头部添加的字节数,仅支持2或者4个自己的长度,或者为0表示不追加-->
        <appendLengthField>4</appendLengthField>

        <!--添加的长度是否包含LengthField自身-->
        <lengthIncludeLengthField>false</lengthIncludeLengthField>
    </serializer>>

</config>
