<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <add key="RedisIp" value="localhost"/>
        <add key="RedisPort" value="6379"/>
        <add key="SubscribeChannel" value="ddz"/>  
    </appSettings>
  
</configuration>